body {
  font-family: sans-serif;
}

.hidden {
  display: none;
}

#login {
  text-align: center;
}

#todo {
  text-align: center;
}

#todoul {
  text-align: center;
}

ul#todo-list {
  list-style-position: inside;
}

#input1 {
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  font-size: 20px;
}

#input2 {
  width: 100px;
  height: 55px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  font-size: 20px;
}

#input3 {
  width: 300px;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid white;
  background-color: transparent;
  font-size: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  margin-top: 550px;
}

h1#clock {
  font-size: 100px;
}

h2 {
  text-align: center;
}

h2#date {
  font-size: 30px;
  margin-top: -80px;
}

img {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 85%;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  img {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

#weather {
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-align: right;
}

#todo-list {
  font-size: 25px;
  font-weight: bold;
}

#menu {
  text-align: center;
}

.glf-button {
  padding: 15px;
  font-size: 16px;
  border-radius: 40px;
  background-color: #db1076;
  text-align: center;
}
